{% for week in calendar %}
    {% for day_num in week %}
        {% if day_num != 0 %}
            <div class="text-center">
                <button hx-get="{% url 'allergy:symptoms_container_partial' year=year month=month day=day_num %}"
                        hx-target="#allergy-symptoms"
                        hx-swap="innerHTML"
                        class="py-1 block w-full text-sm cursor-pointer hover:bg-gray-200 rounded {% if day_num == selected_day %} bg-blue-500 text-white rounded-full w-8 h-8 flex items-center justify-center mx-auto leading-none font-semibold {% else %} w-8 h-8 flex items-center justify-center mx-auto {% endif %}">
                    {{ day_num }}
                </button>
            </div>
        {% else %}
            <div class="w-8 h-8"></div>
        {% endif %}
    {% endfor %}
{% endfor %}
