<div class="flex justify-between items-center mb-4">
    <button
       hx-get="{% url 'partial_calendar_without_day' year=prev_year month=prev_month %}"
       hx-target="#calendar-container"
       hx-swap="innerHTML"
       class="text-gray-600 hover:text-gray-800">
        <i class="fas fa-chevron-left"></i>
    </button>
    <h2 id="monthYear" class="text-xl font-semibold">{{ month_name }} {{ year }}</h2>
    <button
       hx-get="{% url 'partial_calendar_without_day' year=next_year month=next_month %}"
       hx-target="#calendar-container"
       hx-swap="innerHTML"
       class="text-gray-600 hover:text-gray-800">
        <i class="fas fa-chevron-right"></i>
    </button>
</div>

<div id="calendar-grid" class="grid grid-cols-7 gap-1">
    {% for day in weekdays %}
        <div class="text-center text-sm font-medium text-gray-500">{{ day }}</div>
    {% endfor %}

    {% include 'allergy/partials/calendar/calendar_grid.html' with calendar=calendar year=year month=month day=day selected_day=selected_day selected_date=selected_date %}
</div>
