{% extends "base.html" %}
{% load static %}

{% block content %}
    <script src="{% static 'allergy/scripts/symptoms_selector.js' %}"></script>
    <script src="{% static 'allergy/scripts/calendar.js' %}"></script>

    <div class="min-h-screen bg-gray-100 flex flex-col">
        {% include 'navbar.html' %}

        <div class="flex flex-col items-center pt-8 pb-8">
            <div class="w-64 bg-white border shadow-lg rounded-xl p-4 mb-8">
                <div class="flex items-center justify-between mb-4">
                    <button id="prevMonth" class="text-gray-500 hover:text-gray-700 focus:outline-none">&larr;</button>
                    <div id="monthYear" class="text-lg font-medium"></div>
                    <button id="nextMonth" class="text-gray-500 hover:text-gray-700 focus:outline-none">&rarr;</button>
                </div>
                <div class="grid grid-cols-7 gap-2 text-center text-xs font-medium text-gray-600">
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                    <div>Sun</div>
                </div>
                <div id="calendarDays" class="grid grid-cols-7 gap-2 mt-2 text-center text-sm"></div>
                <div class="mt-3 text-center text-xs text-gray-500">Click a date to see events.</div>
            </div>

            <div class="w-auto bg-white rounded-lg shadow-md p-4">
                <h2 class="text-lg font-medium text-gray-800 mb-3">Allergy Symptoms</h2>
                <div class="flex flex-nowrap space-x-2">
                    {% for symptom_type in symptom_types %}
                        <button class="symptom-button flex items-center bg-blue-50 hover:bg-blue-100 text-blue-700 px-3 py-2 rounded-full transition duration-200 whitespace-nowrap" data-symptom="{{ symptom_type.uuid }}">
                            {{ symptom_type.name }}
                        </button>
                    {% endfor %}
                </div>
                <input type="hidden" id="csrfToken" value="{{ csrf_token }}">

                <div id="intensitySelectors" class="mt-4 space-y-3 hidden"></div>

                <div id="date-info"></div>
                <div id="symptom-form-errors" class="mt-4"></div>
            </div>
        </div>
    </div>
{% endblock content %}
