{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Allergen</title>
        <meta name="description" content="A tool for allergies management">
        <meta name="keywords" content="allergy">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css"
              rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        {{ form.media.css }}
    </head>
    <body class="bg-gray-100 h-screen flex items-center justify-center">
        <div class="flex flex-col h-full w-full mb-8 pb-8">
            {% block content %}
            {% endblock content %}
        </div>
        {{ form.media }}
    </body>
</html>
