{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto px-4 flex items-center justify-center min-h-screen">
        <div class="w-full max-w-md bg-white rounded-3xl shadow-lg overflow-hidden">
            <div class="p-8">
                <h3 class="text-2xl font-bold text-gray-800 text-center mb-6">Sign in to continue</h3>
                {% include "login/login_form_partial.html" with form=form %}
                <div class="mt-6 text-center">
                    <p class="text-sm text-gray-600">
                        Don't have an account?
                        <a href="{% url 'registration_view' %}"
                           class="font-medium text-purple-600 hover:text-purple-500">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
