{% load static %}
<h3 class="text-lg font-medium mb-3">Select your symptoms for {{ selected_date|date:"Y-m-d" }}:</h3>
<input type="hidden"
       id="selected-date"
       name="selected_date"
       value="{{ selected_date_str }}">
{% include "allergy/partials/symptoms/symptoms_grid.html" with symptom_types=symptom_types selected_symptoms_map=selected_symptoms_map selected_date=selected_date %}
{% include "allergy/partials/symptoms/intensity/existing_selectors.html" with symptom_entries=symptom_entries selected_date_str=selected_date_str %}
<div hx-swap-oob="true" id="calendar-container">
    {% include "allergy/partials/calendar/calendar.html" with calendar=calendar_matrix year=current_year month=current_month_num selected_day=selected_day days_with_entries=days_with_entries %}
</div>
